.Magic-Eightball-Image {
  animation: image-spin infinite 20s linear;
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

.Fortune-text {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-font {
  text-align: center
}

.App-title {
  font-size: 1.5em;
}

.Magic-Eigthball-Intro {
  font-size: large;
  display: block;
  text-align: center;
}

.Magic-EightBall-Container {
  vertical-align: top;
  width: max-content;
}

@keyframes image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
